* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%
}

.vh100 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(79, 233, 105);
}

.game-display > * {
  margin-top: 24px;
}