* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Karla, sans-serif;
  line-height: 1.6em;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.section-header {
  letter-spacing: 0.1rem;
  font-size: 3rem;
  margin-bottom: 32px;
  line-height: 1.4em;
}

.section-para {
  max-width: 650px;
  margin: 0 auto;
  color: #454545;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex-basis: 100%;
}

/*

    FEATURES

*/

.features {
  justify-content: space-between;
}

.feature-container {
  flex-basis: 40%;
  display: flex;
  margin-top: 48px;
}

.feature-img {
  flex-basis: 25%;
}

.feature-text {
  flex-basis: 75%;
  text-align: left;
  margin-top: 24px;
  padding-left: 8px;
}

.feature-header {
  text-transform: uppercase;
  margin-bottom: 12px;
}

.feature-para {
  color: #454545;
  width: 300px;
}

.feature-btn {
  color: #d14c45;
  border: 1px solid #d14c45;
  background-color: #fff;
  padding: 4px 48px;
  font-weight: bold;
  cursor: pointer;
  transition: all 250ms ease;
  margin-top: 48px;
  font-size: 16px;
}

.feature-btn:hover {
  color: #fff;
  background-color: #d14c45;
}

/*

    Mobile Ops (For fun)

*/

@media (max-width: 992px) {
  .features {
    justify-content: space-evenly;
  }

  .feature-container {
    flex-direction: column;
  }

  .feature-text > * {
    text-align: center;
    margin: 0 auto;
  }

  .feature-text {
    margin-top: 12px;
  }
}

@media (max-width: 768px) {
  .section-header {
    font-size: 40px;
  }

  .sectin-para {
    padding: 0 20px;
  }

  .feature-container {
    flex-basis: 100%;
  }

  .feature-text {
    margin-top: 0;
  }
}
