/*
Colors
- navy blue = #0A4265
- gray (nav text) = #A0A0A0
- light gray = #FAFAFA
- gray (body text)zzz = #FAFAFA
- gray (footer bg) = #525351
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

img {
  width: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tiempos Headline", serif;
}

/*

    REUSABLES

*/

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  color: #fff;
  background-color: #0a4265;
  padding: 12px;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

/*

    NAV

*/
nav {
  border-bottom: #e7e9ec 2px solid;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav-logo-wrapper {
  width: 120px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  color: #a0a0a0;
}

.nav-list-item {
  margin-left: 40px;
}

/*

    HEADER

*/

.header {
  margin-top: 60px;
  display: flex;
  align-items: center;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 60vh;
  color: #fff;
  position: relative;
  filter: saturate(70%);
}

.header-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0 0 0 / 20%);
  z-index: -1;
}

.header-content {
  max-width: 50%;
  padding-left: 50px;
}

.header-title {
  font-size: 32px;
}

.header-para {
  margin: 24px 0;
  line-height: 1.5;
}

.header-btn {
  padding: 16px 40px;
  font-size: 16px;
}
